<div class="modal modal-choice-city">
    <ion-header-bar class="item-input-inset bar-calm">
        <div class="buttons">
            <button class="button button-icon icon ion-ios-arrow-back" ng-click="hideCityProp()"></button>
        </div>
        <label class="item-input-wrapper">
            <input type="search" placeholder="Search">
        </label>
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div class="list">
            <div class="item item-divider">
                最近查询
            </div>
            <div class="item padding">
                <span class="col-25">广州</span>
                <span class="col-25">南昌</span>
                <span class="col-25">宿松</span>
                <span class="col-25">天柱山</span>
            </div>
            <div class="item padding">
                <span class="col-25">广州</span>
                <span class="col-25">南昌</span>
                <span class="col-25">宿松</span>
            </div>
            <div class="item item-divider">
                热门城市
            </div>
            <div class="item padding" ng-repeat="name in citys">
                <span ng-repeat="city in name" ng-click="pushDate('{{city}}')">{{city}}</span>
            </div>
        </div>
    </ion-content>
</div>
